// @import "../../../node_modules/bootstrap/scss/bootstrap";
// @import "../../../node_modules/bootstrap/scss/variables";
// @import "../../../node_modules/bootstrap/scss/mixins";
.btn-primary-light {
    background-color: #E2F0FF !important;
    color: #3D9CFC !important;
}

.btn-unggah {
    background-color: #C0EEEB !important;
    color: #3D9CFC !important;
}

.btn-unduh {
    background-color: #C4C4C4 !important;
    color: #FFFFFF !important;
}

.label-anggota {
    background-color: #17C191 !important;
    color: white !important;
}

.label-pengurus {
    background-color: #FFA800 !important;
    color: white !important;
}

.label-pelatih {
    background-color: #2E5AAC !important;
    color: white !important;
}

.label-error {
    background-color: red !important;
    color: white !important;
}

thead {
    background-color: #F3F6F9 !important;
}

td {
    font-size: 11px;
}

.invoice-tr > td {
    font-size: 13px;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    // padding: 0px 13px;
}

.upload-btn-wrapper input[type="file"] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}


.feature-image-wrapper {
    border-radius: 5px;
    border: 1px solid #B9B9B8;
    box-sizing: border-box;
    padding: 10px 20px;
    margin: 10px auto;
}

.img-logo {
    width: 100%;
    // width: 100px;
    // height: 75px;
    // margin-right: 10px;
    // margin-top: 10px;
    font-size: 10px;
}

.img-multiple {
    width: 100px;
    height: 75px;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 10px;
}

.nav-tabs .nav-link {
    font-size: 14px;
}

.btn-delete {
    position: absolute;
    right: 12px;
    top: 15px;
}
.btn-delete:hover {
    cursor: pointer;
}

.btn-delete:hover > i {
    color: red;
}

.label-success {
    background-color: #17C191 !important;
}

.card-header {
    font-weight: bolder;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #F3F6F7;
}

.card-body {
 padding: 1rem 2.25rem !important;
}

.news-status {
    width: 100%;
    background: #ECECEC;
    margin-bottom: 10px;
    padding: 10px 15px;
    color: black;
    font-size: 14px;
    b {
      color: black;
      font-size: 14px;
    }
}

.s-d {
    // height: max-content;
    line-height: 85px;
    // margin-right: 20px;
    // font-size: 12px;
}

label {
    font-weight: 600 !important;
}

.label-pending {
    background-color: #FFF4DE !important;
    color: #FFA800 !important;
    font-weight: bolder;
}

.label-paid {
    background-color: #C9F7F5 !important;
    color: #1BC5BD !important;
    font-weight: bolder;
}

.label-unpaid {
    background-color: #FFE2E5 !important;
    color: #F64E60 !important;
    font-weight: bolder;
}

.datepickers-wrapper {
    border-radius: 5px;
    border: 1px solid #B9B9B8;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.required:after {
    content: "*";
    color: red;
}

.css-tlfecz-indicatorContainer {
    padding: 0 !important;
}

.show-hide-pw {
    padding: 2.5px 0; 
    margin-left: 8px; 
    cursor: pointer; 
    position: absolute; 
    top: 3.3rem; 
    right: 2.5rem;
}

@import "variables";
@import "variable";
@import "aside";
@import "content";
@import "widgets";
@import "avatar";
// @import "helper";
// @import "accordion";
// @import "backgrounds";
// @import "badge";
// @import "breadcrumb";
// @import "buttons";
// @import "card";
// @import "demos";
// @import "dropdown";
// @import "forms";
// @import "nav";
// @import "pagination";
// @import "preloader";
// @import "print";
// @import "progress";
// @import "reboot";
// @import "table";
@import "waves";
